mkdocs>=1.6.0
mkdocstrings[python]>=0.26.0
mkdocstrings-python>=1.11.0
mkdocs-material
mkdocs-material[imaging]
pymdown-extensions
jupyter
pyzmq==26
cython
setuptools
setuptools_scm
scipy
numpy
dendropy
pandas >= 2.1.0
